{% extends "base.html" %}

{% block p_lead %}
    <div class="col-xs-8 player-name"><strong>{{ game.first_player|title }}</strong></div>
    <div class="progress">
      <div class="progress-bar health" role="progressbar" style="width: {{ game.first_player_health_percent }}%;">
        {{ game.first_player_health }}
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ game.first_player_points_percent }}%;">
        {{ game.first_player_points }}
      </div>
    </div>

    <div class="col-xs-8 player-name"><strong>{{ game.second_player|title }}</strong></div>
    <div class="progress">
      <div class="progress-bar health" role="progressbar" style="width: {{ game.second_player_health_percent }}%;">
        {{ game.second_player_health }}
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: {{ game.second_player_points_percent }}%;">
        {{ game.second_player_points }}
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="well col-sm-6 center">
        <form action="" method="post">
        {% csrf_token %}
        {% for move in game_moves %}
            {% if move.6 == user %}
                <div class="row center {% if forloop.last and game.next_to_move == user %}current-move{% endif %}">
                    {% if forloop.last and game.next_to_move == user %}
                        <p class="text-center">Your current move</p>
                    {% else %}
                        <p class="text-center">Your last move</p>
                    {% endif %}
                    <div class="col-xs-2"><div {% if forloop.last %}id='dice1'{%  endif %} class="well dice">{% if move.0 == 'H' %}<i class="fa fa-heart"></i>{% else %}{{ move.0 }}{% endif %}</div></div>
                    <div class="col-xs-2"><div {% if forloop.last %}id='dice2'{%  endif %} class="well dice">{% if move.1 == 'H' %}<i class="fa fa-heart"></i>{% else %}{{ move.1 }}{% endif %}</div></div>
                    <div class="col-xs-2"><div {% if forloop.last %}id='dice3'{%  endif %} class="well dice">{% if move.2 == 'H' %}<i class="fa fa-heart"></i>{% else %}{{ move.2 }}{% endif %}</div></div>
                    <div class="col-xs-2"><div {% if forloop.last %}id='dice4'{%  endif %} class="well dice">{% if move.3 == 'H' %}<i class="fa fa-heart"></i>{% else %}{{ move.3 }}{% endif %}</div></div>
                    <div class="col-xs-2"><div {% if forloop.last %}id='dice5'{%  endif %} class="well dice">{% if move.4 == 'H' %}<i class="fa fa-heart"></i>{% else %}{{ move.4 }}{% endif %}</div></div>
                    <div class="col-xs-2"><div {% if forloop.last %}id='dice6'{%  endif %} class="well dice">{% if move.5 == 'H' %}<i class="fa fa-heart"></i>{% else %}{{ move.5 }}{% endif %}</div></div>
                </div>
            {% endif %}
        {% endfor %}
        {% if game.status == "A" %}
            {% if game.next_to_move == user %}
                <div class="row center checkbox-row">
                    <div class="col-xs-2"><input id='dice1check' type="checkbox" name="hold1" class="checkbox" style="margin-left:auto; margin-right:auto;"></div>
                    <div class="col-xs-2"><input id='dice2check' type="checkbox" name="hold2" class="checkbox" style="margin-left:auto; margin-right:auto;"></div>
                    <div class="col-xs-2"><input id='dice3check' type="checkbox" name="hold3" class="checkbox" style="margin-left:auto; margin-right:auto;"></div>
                    <div class="col-xs-2"><input id='dice4check' type="checkbox" name="hold4" class="checkbox" style="margin-left:auto; margin-right:auto;"></div>
                    <div class="col-xs-2"><input id='dice5check' type="checkbox" name="hold5" class="checkbox" style="margin-left:auto; margin-right:auto;"></div>
                    <div class="col-xs-2"><input id='dice6check' type="checkbox" name="hold6" class="checkbox" style="margin-left:auto; margin-right:auto;"></div>
                </div>
                <div class="col-xs-12 center text-center">
                    {% if last_move_roll == 1 %}
                        <button class="btn btn-primary">Next Roll!</button>
                    {% elif last_move_roll == 2 %}
                        <button class="btn btn-primary">Final Roll!</button>
                    {% endif %}
                </div>
            {% else %}
                <div class='text-center'>
                    <p>Waiting for other player...</p>
                    <p>The page will load automatically when it's your turn.</p>
                </div>
            {% endif %}
        {% endif %}
        </form>
    </div>
    <div class="col-sm-6 center">
        {% if game.status == "A" %}
            {% if game.next_to_move == user %}
                <div class="alert alert-success">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <h4>It's your go!</h4>
                  Click the dice you want to hold and then click roll.
                </div>
            {% else %}
                <div class="alert alert-info">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <h4>It's not your go yet.</h4>
                  Wait for your opponent to play their turn...
                </div>
                <script type="text/javascript" src="/_ah/channel/jsapi"></script>
                <script>
                    onMessage = function(msg) {
                        if (msg.data = "1") {
                            location.reload();
                        }
                    };
                    channel = new goog.appengine.Channel('{{ token }}');
                    socket = channel.open();
                    socket.onmessage = onMessage;
                </script>

            {% endif %}
        {% elif game.status == "F" and user == game.first_player %}
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>You won!</h4>
            </div>
        {% elif game.status == "S" and user == game.second_player %}
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>You won!</h4>Well done.
            </div>
        {% else %}
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4>You lost!</h4>Better luck next time.
            </div>
        {% endif %}
    </div>
    <script>
        $(".checkbox-row").hide();
        $('.dice').click(function() {
            var dice_id = $(this).attr('id');
            var checkbox = "#".concat(dice_id.concat("check"));
            $(checkbox).prop("checked", !$(checkbox).prop("checked"));
            $("#".concat(dice_id)).toggleClass("hold");
        });
    </script>
{% endblock %}
